{# empty Twig template #}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>BackOffice my friend</title>
        <link rel="stylesheet" href="{{ asset('bundles/astonback/bootstrap/css/bootstrap.min.css') }}" />
    </head>
    <body>
        <h1>Backend my friend</h1>
        <div class="container">{% block body %}{% endblock %}</div>
    </body>
    
</html>